@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-blue: #211842;
  --light-blue: #36314e;
  --red: #fe3f60;
  --yellow: #ffc600;
  --white: #ffffff;
  --green: #1addc2;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  color: var(--light-blue);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-blue);
  font-weight: 800;
}
